body {
    margin: 0;
    background: LightCyan;
    font-family: "Kode Mono", monospace;
    font-size: 10px;
    line-height: 1.6;
    color: #333;
}

*,
*:befor,
*:after{
   box-sizing: border-box;
}
    
.container {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    
}