body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center; /* Выравнивание по центру */
}

.sidebar {
    flex: 1; /* Пустые блоки будут растянуты, чтобы занять доступное пространство */
}

.content {
    flex: 3; /* Основной контент будет занимать больше пространства */
}

.description-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc; /* Пример рамки для визуализации контейнера описания */
}
